.image-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

border-radius: 30px;

}

.image-hover:hover {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .pettah-img {
    width: 100% !important;
    height: auto !important;
  }
} 